---
import type { MobileMenuUITranslationsType } from "@/components/organisms/MobileMenu.astro";

import LogoLink from "@/components/atoms/LogoLink.astro";
import BaseContainer from "@/components/containers/BaseContainer.astro";
import Hamburger from "@/components/molecules/Hamburger.astro";
import LanguageSwitcher from "@/components/molecules/LanguageSelect.astro";
import Nav from "@/components/molecules/Nav.astro";
import ThemeToggle from "@/components/molecules/ThemeToggle.astro";

// eslint-disable-next-line perfectionist/sort-intersection-types
export type HeaderUITranslationsType = MobileMenuUITranslationsType & {
  navigateToHomeLabel: string;
};

type Props = {
  class?: string;
  translations: HeaderUITranslationsType;
};

const { class: className, translations: t } = Astro.props;
---

<header
  class:list={[
    "h-fit border-b-[0.0625rem] border-b-secondary-550 bg-primary-50",
    className
  ]}
>
  <BaseContainer>
    <div
      class:list={[
        "h-[4.3rem] lg:h-[5.5rem]",
        "flex justify-between",
        "border-x-[0.0625rem] border-x-secondary-550"
      ]}
    >
      <div class="flex h-full items-center px-4 lg:px-8">
        <LogoLink navigateToHomeLabel={t.navigateToHomeLabel} />
      </div>
      <Nav class="h-full max-md:hidden" navLabels={t.navLabels} />
      <div
        class="flex h-full w-fit items-center gap-4 px-4 max-md:hidden lg:px-8"
      >
        <ThemeToggle
          toggleDarkModeLabel={t.themeToggleLabels.dark}
          toggleLightModeLabel={t.themeToggleLabels.light}
        />
        <LanguageSwitcher label={t.langSelectLabel} />
      </div>
      <div class="flex h-full items-end md:hidden">
        <Hamburger />
      </div>
    </div>
  </BaseContainer>
</header>
